{% extends 'base.html' %}

{% block title %}Detalle de {{ cliente.nombre }} {{ cliente.apellido }}{% endblock %}

{% block content %}
<div> <a href="{% url 'lista_clientes' %}" class="btn btn-secondary me-2">Volver a la Lista</a>

  <div class="btn-group d-inline-block">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Acciones
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="{% url 'editar_cliente' cliente.id %}">Editar Cliente</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item text-danger" href="{% url 'borrar_cliente' cliente.id %}">Borrar Cliente</a></li>
    </ul>
  </div>
</div>

  <div class="card">
    <div class="card-header">
      Información de Contacto
    </div>
    <div class="card-body">
      <p><strong>Email:</strong> {{ cliente.email }}</p>
      <p><strong>Teléfono:</strong> {{ cliente.telefono }}</p>
      <p><strong>Dirección:</strong> {{ cliente.direccion }}</p>
      <p><strong>Cliente desde:</strong> {{ cliente.fecha_creacion|date:"d M Y" }}</p>
    </div>
  </div>
{% endblock %}